html, body {     width: 100%;
     font-size: 16px;
     box-sizing: border-box;
}
body {
     margin: 0;
     padding: 0;
     line-height: 1.6;
     background-color: #4d4c4c;
}
.mobile {
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
}
.phone {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 331px;
     height: 616px;
     background: #1a1a58;
     border-radius: 30px;
     padding: 10px;
}
.phone-mirror {
     position: relative;
     width: 328px;
     height: 600px;
     background-color: rgb(26, 25, 25);
     border-radius: 30px;
}
.topWrapper {
     position: relative;
     width: 130px;
     height: 20px;
     margin: 0px auto 0 auto;
     float: left;
     left: 30%;
     background-color: #232526;
     border-radius: 0 0 45px 45px;
}
.line-rec {
     position: relative;
     width: 60px;
     height: 6px;
     margin: 0px auto 0 auto;
     float: left;
     left: 20%;
     top: 4px;
     background-color: rgb(83, 83, 82);
     border-radius: 5px;
     border: 1px solid rgb(214, 214, 214);
}
.camera {
     position: relative;
     float: left;
     margin-right: 8px;
     left: 18%;
     width: 11px;
     height: 11px;
     top: 1px;
     background-color: rgb(83, 83, 82);
     border-radius: 30px;
     border: 1px solid rgb(214, 214, 214);
}
.bar {
     background-color: black;
     width: 100%;
     height: 30px;
     border-radius: 0 0 45px 45px;
     text-align: center;

}




.button-area {
  margin: 10px auto;
  margin-top: 25px; 
  display: flex;
  flex-direction: row;
  align-content: space-between;
  flex-wrap: wrap;
  max-width: 320px;
  align-items: top;
  justify-content: center;
  a {
   background: #999;
    padding: 1em 2.4em;
    font-size: .9em;
    margin: 1em;
    color: white;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
  }
}


.button-area > div:hover {
  background-color: #69bf4a
}



.app{
     position: relative;
     width: 82px;
     height: 75px;
     top: 5px;
     float: left;
     margin: 0px auto 0 auto;
     background-color: rgb(83, 83, 82);
     border-radius: 5px;
     border: 1px solid rgb(214, 214, 214);
     /*cursor: pointer;*/
}



.app-text{
    position: relative;
    margin-left: 7%;
}

.app-text2{
    position: relative;
    margin-left: 7%;
    justify-content: center
}








.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #69bf4a;
}

.container:hover .overlay {
  opacity: 1;
}

.icon {
    margin-top: -20%;
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    justify-content: top;
}

.icon_bee {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    justify-content: top;
}


.icon_boat {
    margin-top: -10%
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    justify-content: top;
}


.fa-gamepad:hover {
    color: #eee;
}